
{# apps/users/templates/users/password_reset_done.html#}

{% extends "core/base.html" %}
{% load static %}

{% block extra_head %}
  <link type="text/css" href="{% static 'users/css/users.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h2>Письмо отправлено</h2>
    <p>Если аккаунт с таким email существует, вам отправлено письмо с инструкциями по сбросу пароля.</p>
    <a href="{% url 'users:login' %}" class="btn-main">Вернуться на страницу входа</a>
  </div>
</div>
{% endblock %}
