{# moloshop/apps/users/templates/users/includes/users-header.html — Хедер для 'users' #}

{% load static %}

<header class="main-header user-header-gradient py-5 mb-4">
  <div class="container text-center">
    <a href="/" class="header-logo-link d-inline-block mb-6">
      <img src="{% static 'core/img/logo.png' %}" alt="Moloshop" class="user-header-logo"/>
    </a>
    <h1 class="user-header-title mb-1 mt-1">Moloshop</h1>
    <p class="user-header-slogan lead mb-0">Личный кабинет &mdash; ваш центр управления услугами</p>
  </div>
</header>