
{# apps/users/templates/users/password_change.html #}

{% extends "core/base.html" %}
{% load static %}

{% block extra_head %}
  <link type="text/css" href="{% static 'users/css/users.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h2>Пароль успешно изменён</h2>
    <p>Ваш пароль был успешно обновлён.</p>
    <a href="{% url 'users:profile_edit' %}" class="btn-main">Вернуться в личный кабинет</a>
  </div>
</div>
{% endblock %}
