
{# apps/users/templates/users/verify_email.html #}

{% extends "core/base.html" %}
{% load static %}

{% block extra_head %}
  <link type="text/css" href="{% static 'users/css/users.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h2>Подтверждение email</h2>
    <p>На ваш email {{ email }} отправлен код подтверждения. Пожалуйста, введите его ниже:</p>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="email_code" maxlength="6" required>
        <br>
        <button type="submit">Подтвердить email</button>
    </form>
    <p>Если вы не получили письмо, можете <a href="{% url 'users:resend_email_code' %}">запросить код повторно</a>.</p>

    {% if messages %}
    <div>
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
